<!-- Author Image Begin -->
		<div class="row">
			<div class="small-9 small-centered columns top-padding-20">
				<div>
					<a href="#" data-reveal-id="authModal"><div class="userimage-main" style="background-image: url({{author.image}})"></div></a>
				</div>
			</div>
		</div>
		<p class="center"><a href="{{@blog.url}}">Back Home</a></p>
		<!-- Author Image End -->

		<!-- Author Modal Begin -->
		<div id="authModal" class="reveal-modal medium" data-reveal>
			<div class="row">
				<div class="small-12 small-centered columns">
					<div>
						<div class="userimage-modal" style="background-image: url({{author.image}})"></div>
						<h5>{{author.name}}</h5>
						<p>{{author.bio}}</p>
					</div>
					<div class="sharing">
						<div class="sharing-heading">Follow Me</div>
						<ul class="sharing-list">
						<li><a href="https://www.facebook.com/" class="facebook" target="_blank"><img src="{{@blog.url}}/assets/img/icons/32/facebook.png" /></a></li>
						<li><a href="https://twitter.com/madeforghost" class="twitter" target="_blank"><img src="{{@blog.url}}/assets/img/icons/32/twitter.png" /></a></li>
						<li><a href="https://plus.google.com/" class="gplus" target="_blank"><img src="{{@blog.url}}/assets/img/icons/32/google.png" /></a></li>
						</ul>
					</div>
				<a href="#" class="close-reveal-modal"><img src="{{@blog.url}}/assets/img/close.png"></a>
				</div>
			</div>
		</div>
		<!-- Author Modal End -->