		<!-- Share Buttons Begin -->
		<div class="row">
			<div class="small-9 small-centered columns top-padding-20">
				<div class="sharing">
					<div class="sharing-heading">Share</div>
					<ul class="sharing-list">
					<li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" class="facebook" target="_blank"><img src="{{@blog.url}}/assets/img/icons/32/facebook.png" /></a></li>
					<li><a href="https://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}" class="twitter" target="_blank"><img src="{{@blog.url}}/assets/img/icons/32/twitter.png" /></a></li>
					<li><a href="https://plus.google.com/share?url={{url absolute="true"}}" class="gplus" target="_blank"><img src="{{@blog.url}}/assets/img/icons/32/google.png" /></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Share Buttons End -->