{{!< default}}

		{{> index-header}}

		<!-- Content Holder Begin -->
		<div class="row" id="content">
			<div class="small-9 small-centered columns top-padding-80">
				<div id="content-start" class="top-padding-60"></div>
				<div class="latest">Latest</div>
			
				<article>
				
				{{#foreach posts}}
					<h4><a href="{{url}}">{{{title}}}</a></h4>
					<span class="details-index">by {{author.name}} &bullet; {{date published_at format="MMMM DD, YYYY"}} - Tagged with - {{tags separator=" | "}}</span>
					<p>{{excerpt characters="140"}} [&hellip;]</p>
					<div class="bottom-padding-20"></div>
				{{/foreach}}

				</article>
				
				<hr>
				
				{{pagination}}
				
			</div>
		</div>
		<!-- Content Holder End -->